/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*My code*/
* {
    text-decoration: none;
}

body{
    background-color: #f3f3f3;
}

/*main style*/
main{
    display:flex;
    flex-wrap: wrap;
    background-image: url(images/photo5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
}

main > div{
    width: 650px;
    
}

.index-main-banner{
    background-color: rgb(255, 68, 0, 0.85);
}

.index-main-banner h1 {
    font-size: 62px;
    font-weight: 900;
    color: white;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-family: 'Quantico', sans-serif;
    letter-spacing: 1px;
}

.index-main-banner h2 {
    font-size: 23px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 200;
    font-style: italic;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
    line-height: 30px;
    margin-top: 20px;
}

.index-main-login{
    height: 100vh;
    display: flex;
    align-items: center;
}

.index-main-banner h3{
    font-family: 'Capriola', sans-serif;
    font-size: 60px;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0px; 
    margin-top: 30px;
    font-weight: bolder;
}

.logo{
    text-align: center;
}

.form{
    width: 60%;
    height: 350px;
    margin: 0 auto;
    background-color: white;
}

.form-header{
    height: 40px;
    background-color: orangered;
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Quantico', sans-serif;
}

input{
    width: 90%;
    height: 30px;
    margin: 15px;
    text-indent: 6px;
}

input.placeholder{
    text-align: center;
}

.index-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

button{
    border: none;
    background-color: orangered;
    color: white;
    width: 88%;
    height: 30px;
    font-size: 18px;
    border-radius:15px;
    margin-top: 16px;
}
label{
    font-size: 18px;
    margin: 15px 0 8px 0;
    
}

span{
    text-decoration: underline;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

/*user home page*/
.flex-container{
    display: flex;
    flex-flow:wrap;
    justify-content: center;
}

.flex-container > div {
    width: 350px;
    border: orange solid 1px;
    text-align: center;
    margin: 30px;

}

.flex-left{
    height: 400px;
}

.request-form{
    height: 400px;
    color: white;
    background-color: orangered;
}

.flex-center{
    height: 600px;
}

.flex-right{
    height: 300px;
}

option{
    width: 70%;
}

.category{
    margin: 10px;
}

select{
    width: 92%;
    height: 33px;
    
}

.user-request{
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
}
.req-submit{
    border: solid 1px ;
    background-color: white;
    color: orangered;
}